[Unit]
Description=Sprinkler Controller
After=network.target

[Service]
Type=simple
User=lds00
WorkingDirectory=/home/lds00/sprinkler
ExecStart=/usr/bin/python3 /home/lds00/sprinkler/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target